*{
    margin: 0;
    padding: 0;
}
body {
    background: var(--primary-color)
}

.header-nav {
    color: var(--fourth-color);
    margin: 30px 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.nav-item {
    color: var(--fourth-color);
    margin-left: 25px;
    margin-top: -50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-item:hover{
    cursor: pointer;
}

.nav-btn {

    margin-left: 25px;
    padding: 10px;
    background-color: var(--fourth-color);
    font-size: 15px;
    border: none;
    font-weight: 700;
    color: var(--primary-color);
    display: inline-block;
    text-align: center;
    margin-top: -40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    margin-right: 50px;

}
.nav-btn:hover{cursor: pointer;}

:root {
    --primary-color: white;
    --secondary-color: black;
    --third-color: slategrey;
    --fourth-color: blue;



}

.dark-theme {

    --primary-color: black;
    --secondary-color: white;
    /* --third-color:white; */
    --fourth-color: white;


}

#icon {
    width: 50px;
    cursor: pointer;
    margin-left: 25px;
}

.main-heading {
    color: var(--fourth-color);
    padding-left: 60px;
    font-size: 50px;

}

.main-body {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-left: 50px;
    margin-bottom: 10px;

}

.hero-img {
    padding-left: 300px;
}

.main-part2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--third-color);
    margin-left: 100px;
    margin-top: -225px;


}

.main-btn {
    margin-left: 100px;
    padding: 7px;
    background-color: var(--fourth-color);
    font-size: 15px;
    border: none;
    font-weight: 700;
    color: var(--primary-color);
    display: inline-block;
    text-align: center;
    margin-top: -35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    margin-right: 50px;
    box-shadow: 5px;
}
.main-btn:hover{cursor: pointer;}
.container{
    display: flex;
    flex-direction: column;
}