
body {
    margin: 45px;
    background-color: var(--third-color);
}

.header {
    text-align: center;
    color: var(--fourth-color);
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div1 {
    /* width: 600px;
    height: 400px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    
}
.rect1:hover{
    background-color: #f492e5;
}
.rect2:hover{
    background-color: #f492e5;
}
.div2 {
    width: 500px;
    height: 390px;
    margin-top: 20px;
    /* float: left; */
    /* margin-right: 40px; */
    box-shadow: var(--secondary-color) 0 2px 8px;
    background-color: var(--primary-color);
    transition: background-color 0.5s ease-in-out;
    border: 2px solid var(--secondary-color);
}
.div2:hover{
    background-color: rgba(167, 167, 167, 0.811);
}
button {
    color: var(--primary-color);
    background-color: blue;
    border: 1px solid var(--primary-color);
    box-shadow: var(--secondary-color) 0 2px 8px;
    width: 25%;
    height: 30px;
    margin: 5px;
    margin-top: 15px;
    margin-left: 40%;
}

input,
textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rect1 {
    /* border: 1px solid black; */
    width: 300px;
    height: 390px;
    /* float: left; */
    margin-top: 20px;
    /* margin-left: 40px;
    margin-right: 20px; */
    box-shadow: var(--secondary-color) 0 2px 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.rect2 {
    /* border: 1px solid black; */
    width: 300px;    
    height: 390px;
    margin-top: 20px;
    /* float: left; */
    box-shadow: var(--secondary-color) 0 2px 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


.image {
    width: 20%;
    height: 40px;
    background-color: var(--primary-color);
    margin-top: 20px;
    margin-left: 20px;
}

.header1 {
    color: var(--fourth-color);
    text-align: left;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    margin-top: 20px;
}
.sendBtn{
    background-color: rgb(5, 55, 55);
    border: 1px solid var(--primary-color);
}
.sendBtn:hover {
    cursor: pointer;
    background-color: var(--fourth-color);
}

.inpt {
    /* border-radius: 5px; */
    border: none;
    border-bottom: 1px solid black;
}

:root {
    --primary-color: white;
    --secondary-color: black;
    --third-color: #96f0f4;
    --fourth-color: blue;
}

.dark-theme {
    --primary-color: black;
    --secondary-color: white;
    --third-color: black;
    --fourth-color: white;
}

#icon {
    width: 50px;
    cursor: pointer;
    margin-left: 25px;
}
.inpt:focus {
    outline: none;
    /* Removes the border when the input is clicked */
}

@media only screen and (max-width: 600px) {
    .div2{
        width: 300px;
    }
  }