
body {
    margin: 45px;
    background-color: #96f0f4;
}

.header {
    text-align: center;
    color: rgb(27, 27, 159);
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div1 {
    /* width: 600px;
    height: 400px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    
}
.rect1:hover{
    background-color: #7bb2e3;
}
.rect2:hover{
    background-color: #7bb2e3;
}
.div2 {
    width: 500px;
    height: 390px;
    margin-top: 20px;
    /* float: left; */
    /* margin-right: 40px; */
    box-shadow: rgb(0 0 0 /60%) 0 2px 8px;
    background-color: #e5e5e5;
    transition: background-color 0.5s ease-in-out;
    border: 2px solid rgba(0, 0, 0, 0.039);
}
.div2:hover{
    background-color: rgba(167, 167, 167, 0.811);
}
button {
    color: #ffffff;
    background-color: blue;
    border: 1px solid #e5e5e5;
    box-shadow: rgb(0 5 0 /60%) 0 2px 8px;
    width: 25%;
    height: 30px;
    margin: 5px;
    margin-top: 15px;
    margin-left: 40%;
}

input,
textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rect1 {
    /* border: 1px solid black; */
    width: 300px;
    height: 390px;
    /* float: left; */
    margin-top: 20px;
    /* margin-left: 40px;
    margin-right: 20px; */
    box-shadow: rgb(0 5 0 /60%) 0 2px 8px;
    background-color: #e5e5e5;
    
}

.rect2 {
    /* border: 1px solid black; */
    width: 300px;    
    height: 390px;
    margin-top: 20px;
    /* float: left; */
    box-shadow: rgb(0 5 0 /60%) 0 2px 8px;
    background-color: #e5e5e5;
}


.image {
    width: 20%;
    height: 40px;
    background-color: #e5e5e5;
    margin-top: 20px;
    margin-left: 20px;
}

.header1 {
    color: rgb(59, 59, 170);
    text-align: left;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    margin-top: 20px;
}
.sendBtn{
    background-color: rgb(5, 55, 55);
    border: 1px solid white;
}
.sendBtn:hover {
    cursor: pointer;
    background-color: rgb(48, 129, 235);
}

.inpt {
    /* border-radius: 5px; */
    border: none;
    border-bottom: 1px solid black;
}

.inpt:focus {
    outline: none;
    /* Removes the border when the input is clicked */
}

@media only screen and (max-width: 600px) {
    .div2{
        width: 300px;
    }
  }