body {
    margin: 5%;
    padding: 0;
    background-image: url("D:\Death\Saas\Home\img\hero-bg.png");
}

.header {
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(46, 46, 161);
}

.rect1 {
    border: 1px solid rgb(255, 255, 255);
    width: 25%;
    float: left;
    margin-right: 20px;
    margin-left: 120px;
    border-radius: 2%;
    height: 400px;
    box-shadow: rgb(0 0 0 / 40%) 0 2px 8px;
    border-bottom: 4px solid blue;
}

.rect2 {
    border: 1px solid rgb(255, 255, 255);
    width: 25%;
    float: left;
    margin-right: 20px;
    border-radius: 2%;
    height: 400px;
    box-shadow: rgb(0 0 0 / 40%) 0 2px 8px;
    border-bottom: 4px solid orange;
}

.rect3 {
    border: 1px solid rgb(255, 255, 255);
    width: 25%;
    float: left;
    margin-right: 20px;
    border-radius: 2%;
    height: 400px;
    box-shadow: rgb(0 0 0 / 40%) 0 2px 8px;
    border-bottom: 4px solid greenyellow;
}

.header1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin-top: 20px;
}

.p {
    text-align: center;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.image {
    width: max-content;
    height: 50px;
    vertical-align: bottom;
    margin-left: 100px;
    margin-top: 30px;
}

.button1 {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0 2px 8px;
    font-size: large;
    vertical-align: middle;
    margin-left: 50px;
    padding: 8px 16px;
    width: fit-content;
    margin-top: 20px;
}