body {
    margin: 2%;
    padding: 0;
    background-image: url("D:\Death\Saas\Pricing\hero-bg.png");
}

.header {
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(46, 46, 161);
}

.rect1 {
    border: 1px solid rgb(255, 255, 255);
    width: 20%;
    float: left;
    margin-right: 20px;
    margin-left: 90px;
    border-radius: 5%;
    height: 600px;
    box-shadow: rgb(0 0 0 / 40%) 0 2px 8px;
}

.rect2 {
    border: 1px solid rgb(255, 255, 255);
    width: 20%;
    float: left;
    margin-right: 20px;
    border-radius: 5%;
    height: 600px;
    box-shadow: rgb(0 0 0 / 40%) 0 2px 8px;
}

.rect3 {
    border: 1px solid rgb(255, 255, 255);
    width: 20%;
    float: left;
    margin-right: 20px;
    border-radius: 5%;
    height: 600px;
    box-shadow: rgb(0 0 0 / 40%) 0 2px 8px;
}

.rect4 {
    border: 1px solid rgb(255, 255, 255);
    width: 20%;
    float: left;
    border-radius: 5%;
    height: 600px;
    box-shadow: rgb(0 0 0 / 40%) 0 2px 8px;
}

.header1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

.p {
    text-align: center;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image {
    width: max-content;
    height: 250px;
}

.button1 {
    color: blue;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    border: 1px solid rgb(255, 255, 255);
    font-size: medium;
    vertical-align: middle;
    padding: 8px 16px;
    width: 50%;
    margin-left: 60px;
    box-shadow: rgb(0 0 0 / 70%) 0 2px 8px;
    margin-top: 20px;
}