body{
  background-color: var(--third-color);
}

.heading{
    text-align:center;
    margin-top: 1rem;
    color:var(--primary-color)
}
.main-heading{
    text-align:center;
    color:var(--primary-color)
}
.flex-container{
    width:80%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
}
.left-container{
    display:flex;
    flex-direction:column;
}
.question {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
  
}
.question-btn {
  background: transparent;
  border-color: transparent;
  color: var(--secondary-color)
}
.lineafter{
  border:0.01rem solid grey;
}
.right-container{
    display:flex;
    flex-direction:column;
}
.second-heading{
  display: flex;
  align-items: center;
  justify-content: center;
}
#darkmodeimage{
  width: 35px;
  height: 35px;
  margin-left: 20px;
  cursor: pointer;
}
  

:root{
  --primary-color:blue;
  --secondary-color:black;
  --third-color:white;
}

.dark-theme{
  --primary-color:rgb(255, 255, 255);
  --secondary-color:rgb(248, 234, 234);
  --third-color:rgb(38, 37, 45);
}